<%= form_with(model: palette) do |form| %>
  <% if palette.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(palette.errors.count, "error") %> prohibited this palette from being saved:</h2>

      <ul>
        <% palette.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid bg-light" id="form-container">
  <div class="row">
    <div class="col">
        <%= form.label :title, class: "form-label"%>
        <%= form.text_field :title, class: "form-control" %>
    </div>
      <% if session[:current_user] %>
        <%= form.hidden_field :user_id, value: session[:current_user]["id"] %>
        <% else %>
    <div class="col">
        <%= form.label :user, class: "form-label"%>
        <%= form.collection_select :user_id, User.all, :id, :name, {}, {class: "form-control"} %>
    </div>
        <% end %>
    <div class="col">
      <%= form.label :layout, class: "form-label" %>
      <%= form.select :layout, ['rows', 'columns'], {}, class: "form-control" %>
    </div>
    <div class="col">
      <%= form.label :spacing, class: "form-label" %>
      <%= form.number_field :spacing, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.label :background, class: "form-label" %>
      <%= form.color_field :background, class: "form-control form-control-color w-100" %>
    </div>
  </div>
  <div class="row" id="paintbox">
    <%= form.fields_for :colors do |colors_form| %>
     <div class="col inkwell">
        <div class="row">
          <div class="col">
            <%= colors_form.color_field :hex_code, class: "form-control form-control-color w-100" %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= colors_form.number_field :proportion, class: "form-control" %>
          </div>
          <div class="col">
            <%= colors_form.label :_destroy, 'remove', class: "btn btn-secondary delete-color-button" %>
            <%= colors_form.check_box :_destroy, class: "btn-check" %>
          </div> 
        </div>
        <%= colors_form.hidden_field :id %>
      </div>
  <% end %>
  </div>
    <% if @palette.id %>
      <div class="row">
        <div class="col gy-1">
          <%= link_to "add color", palette_colors_url(@palette), method: :post, data: { turbo_method: :post }, id: "add-color-button", class: "btn btn-secondary w-100" %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col gy-1">
        <%= form.submit class: "btn btn-primary w-100" %>
      </div>
    </div>
</div>
<% end %>
