<div id="<%= dom_id palette %>">
  <p>
    <strong>Title:</strong>
    <%= palette.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= palette.user.name %>
  </p>

  <p>
    <strong>Background:</strong>
    <%= palette.background %>
  </p>

  <p>
    <strong>Layout:</strong>
    <%= palette.layout %>
  </p>

  <p>
    <strong>Spacing:</strong>
    <%= palette.spacing %>
  </p>
  <p><strong>Colors:</strong><ul>
  <% @palette.colors.each do |color| %>
  <li><%= link_to color.hex_code, palette_color_path(@palette, color) %></li>
  <%end%>
  </ul>
  </p>
  <%= render 'swatches', palette: @palette %>
</div>
