<div id="<%= dom_id palette %>" class="d-flex flex-column flex-fill bg-light p-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
      <p>
        <strong>Title:</strong>
        <%= palette.title %>
      </p>
      </div>
      <div class="col">
      <p>
        <strong>Creator:</strong>
        <%= link_to palette.user.name, palette.user %>
      </p>
      </div>
      <div class="col">
      <p>
        <strong>Layout:</strong>
        <%= palette.layout %>
      </p>
      </div>
      <div class="col">
      <p>
        <strong>Spacing:</strong>
        <%= palette.spacing %>
      </p>
      </div>
    </div>
    <div class="row">
  <p>
    <strong>Background:</strong>
    <span style="color: <%= palette.background %>">&block; </span><%= palette.background %>
    <strong>Colors:</strong>
    <% palette.colors.each do |color| %>
      <span style="color: <%= color.hex_code %>">&block; </span><%= color.hex_code %>
    <%end%>
  </p>
  </div>
  </div>
  <%= render 'palettes/swatches', palette: palette %>
</div>
