<p style="color: green"><%= notice %></p>

<%= render @palette %>

<div>
  <%= link_to "Edit this palette", edit_palette_path(@palette) %> |
  <%= link_to "Back to palettes", palettes_path %>

  <%= button_to "Destroy this palette", @palette, method: :delete %>
</div>
